/* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Astloch', cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row !important; /* responsiveness*/
    padding: 30px;
}

/* device */
.deviceBody {
    border: solid burlywood;
    width: 100%;
    height: 90vh;
    padding: 8px;
}
.screenWrapper {
    border: solid salmon;
    background-image: url(images/turqouiseSky.gif);
    background-size: cover;
    width: 100%;
    height: 100%;
}
/* RULES SCREEN */
.rulesScreen {
    background-color: rgb(68, 170, 210);
    background-image: url(images/spiritedAway.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.rulesDesc{
    border-radius: 5px;
    width: 100%;
    height: 70%;
    margin-top: 50px;
    padding: 15px;
    background-color: (255, 255, 255, 2);
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
    backdrop-filter: blur(40px);
    text-align: center;
}
.rulesTitle {
    font-family: 'Astloch', cursive;
    color: rgb(253, 219, 23);
    text-shadow: 1px 1px 2px rgb(191, 168, 38);
    font-size: 50px;
}
.rules > * {
    margin-block-start: 10px;
    line-height: 1.5em;
    font-family: 'Press Start 2P', cursive;
}
.playRules {
    font-size: 10px;
    text-shadow: 2px 2.5px 5px rgb(103, 124, 135);
}
.playDesc {
    font-style: italic;
    font-size: 8px;
    text-align: center;
    text-shadow: 2px 2.5px 5px rgb(61, 73, 79);
}
.startPlayButton{
    width: 120px;
    height: 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    color: rgb(253, 219, 23);
    text-shadow: 1px 1px 2px rgb(26, 65, 101);
    border: none;
    border-radius: 7px;
    box-shadow: 1.5px 1.5px 5px rgb(61, 73, 79);
    

}

/* RULES SCREEN */

/* MAIN GAME SCREEN */
.gameScreenBody {
    border: solid gold;
    width: 100%;
    height: 100%;
    /* test */
    display: none;
}
.gameTitleBox{
    text-align: center;
    padding-top: 6px;
    width: 100%;
    height: 50px;
}
.gameTitleBox > h1 {
    font-family: 'Astloch', cursive;
    font-size: 40px;
    color: rgb(253, 219, 23);
}

/* WIN SCREEN */
.winScreen {
    background-image: url(images/starWin.gif);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: none;
}

/* Top Screen */
.gameScreenTop {
    border: solid lightblue;
    width: 100%;
    height: 43%;
    font-family: 'Press Start 2P', cursive;
    display: none;
}
.word {
    border: solid palevioletred;
    width: 100%;
    height: 60%;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreBox {
    border: solid orangered;
    width: 100%;
    height: 40%;
    display: flex;
}
.currentStatus {
    border: solid gold;
    border-top-left-radius: 10%;
    padding: 15px;
    font-size: 15px;
    width: 70%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 124, 135);
}
#wizard {
    border: solid red;
    transform: scaleX(-1);
    /* padding-top: 20px; */
    /* width: 100px;
    height: 120px; */
}


/* Bottom Screen */
.gameScreenBottom {
    border: solid lavenderblush;
    width: 100%;
    height: 50%;
    font-family: 'Press Start 2P', cursive;
}
.playBox {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 25px;
}
.currentPlayer span{
    color: rgb(253, 219, 23);
}
/* input area */
.inputWrapper {
    border: solid bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px 0;
}
.inputBox {
    border: solid rebeccapurple;
    height: 100%;
    text-align: center;
}
.inputBox > p {
    font-size: 15px;
    color: #000;
}
.inputBox > * {
    margin-block-start: 5px;
}
#inputGuess {
    width: 200px;
    height: 60px;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}
.guessButton {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    letter-spacing: .1em;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: rgb(46, 89, 107);
    text-shadow: 2px 2.5px 5px rgb(103, 124, 135);
}
.buttons {
    border: solid greenyellow;
    display: flex;
    justify-content: space-evenly;
}
.buttons > button {
    width: 100px;
    height: 25px;
    border-radius: 7px;
    letter-spacing: .1em;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: rgb(54, 105, 126);
}


/* source */
/* color: rgb(103, 124, 135);
text-shadow: 1px 1px 2px rgb(54, 105, 126); */

/* element show/no show */
.hide {
    display: none;
}
.appear {
    display: block;
}

/* TO DO:
    1. speech bubble
    2. title
    3. swap player pics?
    4. style input - border?
    5. rules
    6. win TOP
    7. win BOTTOM
    8. border screen
    9. border phone body
 */