* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row !important; /* responsiveness*/
    padding: 30px;
}
.deviceBody {
    border: solid burlywood;
    width: 100%;
    height: 90vh;
    padding: 8px;
}
.screenWrapper {
    border: solid salmon;
    width: 100%;
    height: 100%;
}
/* RULES SCREEN */
/* RULES SCREEN */
/* RULES SCREEN */

/* MAIN GAME SCREEN */
.gameScreenBody {
    border: solid gold;
    width: 100%;
    height: 100%;
}
.gameTitleBox{
    text-align: center;
    padding-top: 6px;
    width: 100%;
    height: 50px;
}
/* Top Screen */
.gameScreenTop {
    border: solid lightblue;
    width: 100%;
    height: 43%;
}
.word {
    border: solid palevioletred;
    width: 100%;
    height: 60%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreBox {
    border: solid seagreen;
    width: 65%;
    height: 40%;
}
.currentStatus {
    padding: 15px;
    font-size: 25px;
}


/* Bottom Screen */
.gameScreenBottom {
    border: solid lavenderblush;
    width: 100%;
    height: 50%;
}

.currentPlayer span{
    color: #fff;
}